<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cenhai.system.mapper.SysPluginMapper">

    <resultMap id="BaseResultMap" type="com.cenhai.system.domain.SysPlugin">
            <id property="pluginId" column="plugin_id" jdbcType="CHAR"/>
            <result property="pluginPath" column="plugin_path" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="CHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="CHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="isInstall" column="is_install" jdbcType="CHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        plugin_id,plugin_path,name,
        description,version,status,
        is_install,create_time,update_time
    </sql>


    <select id="listPlugin" resultMap="BaseResultMap" parameterType="com.cenhai.system.param.PluginQueryParam">
        select * from sys_plugin where 1 = 1
        <if test="pluginId != null and pluginId !=''">
            and plugin_id = #{pluginId}
        </if>
        <if test="name != null and name != ''">
            and name like concat('%', #{name}, '%')
        </if>
        <if test="status != null and status !=''">
            and status = #{status}
        </if>
        <if test="startTime != null and startTime != ''"><!-- 开始时间检索 -->
            and date_format(create_time,'%y%m%d') &gt;= date_format(#{startTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            and date_format(create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        order by status desc
    </select>
</mapper>
