<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cenhai.system.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.cenhai.system.domain.SysUser">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="CHAR"/>
            <result property="headimgurl" column="headimgurl" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="extend" column="extend" jdbcType="OTHER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,nickname,sex,
        headimgurl,create_time,update_time,
        extend
    </sql>

    <select id="listUser" resultMap="BaseResultMap" parameterType="com.cenhai.system.param.UserQueryParam">
        select DISTINCT u.user_id,u.nickname,u.sex,u.remark,
        u.headimgurl,u.create_time,u.update_time,
        u.extend from sys_user u
        left join sys_user_auth ua on ua.user_id = u.user_id where u.deleted = 0
        <if test="userId != null and userId != ''">
            and u.user_id = #{userId}
        </if>
        <if test="nickname != '' and nickname != null">
            and u.nickname = #{nickname}
        </if>
        <if test="sex != '' and sex != null">
            and u.sex = #{sex}
        </if>
        <if test="username != '' and username != null">
            and ua.identifier = #{username} and ua.identity_type = 'password'
        </if>
        <if test="startTime != null and startTime != ''"><!-- 开始时间检索 -->
            and date_format(u.create_time,'%y%m%d') &gt;= date_format(#{startTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            and date_format(u.create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
         order by u.create_time desc
    </select>
</mapper>
